.favorites {
  box-sizing: border-box;
  border: 1px solid rgba(0, 8, 7);
  padding: 30px 20px;
}

.favorites__name {
  box-sizing: border-box;
  width: 100%;
  font-size: 16px;
  padding: 5px 10px;
  border: 1px solid rgba(0, 8, 7, 0.5);
  margin-bottom: 24px;
}

.favorites__list {
  margin-bottom: 24px;
}

.favorites__save{
    border: none;
    background-color: #496ddb;
    padding: 10px 15px;
    color: #ffeedb;
    font-size: 14px;
    transition: all 0.2s linear;
  }

.favorites__save:hover {
  cursor: pointer;
  opacity: 0.9;
  transition: all 0.2s linear;
}
a{
    text-decoration: none;
    color: black;
}

.list {
  border: 1px solid black;
  padding: 10px 0px;
  padding-left: 10px;
  border-radius: 10px;
  width: 100%;
  margin-bottom: 10px;
  list-style-type: none;
}

.delete {
  color: black;
  margin-left: 85px;
  cursor: pointer;
}
.delete:hover {
  color: red;
}

.container {
  margin-right: 20px;
  margin-top: 30px;
  width: 100%;
  a {
    width: 100%;
  }
}

.disabledButton {
  background-color: gray;
  color: white;
  border: none;
  padding: 10px 15px;
  cursor: not-allowed;
  box-shadow: "0px 0px 10px 0px grey";
  font-size: 14px;
}
